@import "src/styles/variables";
.sorting-tab {
  padding: 10px 20px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  border: 1px solid $light-gray;
  border-radius: 10px;
  margin-bottom: 10px;
  @media screen and (max-width: $mobile) {
    padding: 0;
    border: none;
  }
  .active-sort_btn {
    border-color: $blue;
  }
  button {
    font-size: 16px;
    padding: 10px;
    background: none;
    border: 1px solid $light-gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 190px;
    @media screen and (max-width: $mobile) {
      font-size: 14px;
    }
    &:hover {
      cursor: pointer;
    }

    &:first-child {
      margin-right: 5px;
    }
  }
  .show-mobile-filters {
    display: none;
    width: auto;
    margin-left: 5px;
    @media screen and (max-width: $mobile) {
      display: block;
    }
  }
}