@import "src/styles/variables";
.product-info-container {
  .product-content {
    display: flex;
    border: 1px solid $light-gray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
  }
  .product-info_box {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
  }
  .product-img_wrapper {
    border: 1px solid $light-gray;
    margin-right: 20px;
    border-radius: 5px;
    padding: 10px;
    width: 340px;
    img {
      width: 100%;
    }
  }
  h3 {
    margin: 0;
    font-size: 24px;
  }
  button {
    background-color: $blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s linear;
    margin-bottom: 10px;
    &:hover {
      filter: contrast(200%);
    }
    &:focus {
      outline: none;
    }
  }
  .row-underline {
    margin-bottom: 10px;
    position: relative;
    &:after {
      content: '';
      width: 100%;
      position: absolute;
      bottom: -5px;
      border-bottom: 2px solid $light-gray;
    }
  }

  .product-info_row {
    display: flex;
    text-align: left;

    p {
      margin: 5px 0;
      width: 30%;

    }
    p:first-child {
      color: $gray;
      margin-right: 20px;
    }
  }
  .product-price {
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0 5px 0;
  }
  .product-detail {
    padding: 20px;
    border: 1px solid $light-gray;
    border-radius: 5px;
  }
}