@import "src/styles/variables";

.breadcrumbs-container {
  padding: 20px 0;

  a {
    text-decoration: none;
    color: $gray;
  }
}

.desktop-breadcrumbs {
  text-transform: capitalize;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.mobile-breadcrumbs {
  display: none;
  padding: 10px 0;
  @media screen and (max-width: $mobile) {
    display: flex;
    align-items: center;
    p {
      margin: 0;
      padding-left: 20px;
      font-weight: bold;
      font-size: 20px;
    }
  }
}
